<h2 style="color:purple" align="center">Python Variables Tutorial</h2>

In [1]:
rent=8000
petrol=500.5
groceries=2050.5

In [2]:
print(rent)

8000

In [3]:
total=rent+petrol+groceries
print(total)

10551.0

In [4]:
gabbar="amjad khan"
jay="amitabh"
thakur="sanjiv kumar"

In [5]:
print("actors in sholey: ",gabbar,jay,thakur)

actors in sholey:  amjad khan amitabh sanjiv kumar

In [6]:
print(type(rent))

<class 'int'>

In [7]:
print(type(groceries))

<class 'float'>

In [8]:
print(type(gabbar))

<class 'str'>

In [9]:
learn_python=True
learn_fortran=False

In [10]:
print(type(learn_python))

<class 'bool'>

In [11]:
# variable naming rules

In [12]:
True=5

SyntaxError: can't assign to keyword (<ipython-input-12-4b271fdd8163>, line 1)

In [14]:
foo+bar=5

SyntaxError: can't assign to operator (<ipython-input-14-5eff18a1b381>, line 1)

In [15]:
4you=6

SyntaxError: invalid syntax (<ipython-input-15-98696c363704>, line 1)

In [16]:
$hi=5

SyntaxError: invalid syntax (<ipython-input-16-274ad8c4428c>, line 1)

In [17]:
foo$bar="hello"

SyntaxError: invalid syntax (<ipython-input-17-4aad73b7d7b0>, line 1)

In [31]:
# variable names are case sensitive

In [18]:
bade_bhai=10

In [19]:
bade_Bhai=5

In [20]:
bade_bhai

10

In [21]:
bade_Bhai

5

In [22]:
foo=5

In [23]:
foo="jalebi"

In [24]:
bar=foo

In [25]:
id(bar)

2688126268280

In [26]:
id(foo)

2688126268280

In [27]:
bar="samosa"

In [28]:
foo="kachodi"

**Exercise**

**1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see**

**2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables**

**3. Store your first, middle and last name in three different variables and then print your full name using these variables**

**4. Answer which of these are invalid variable names: "__nation, 1record, record1, record_one, record-one, record^one, continue"**

[Solution](http://localhost:8888/notebooks/Hindi/1_Variables/Exercise/1_variables_exercise.ipynb)