**Dictionary allows to store key,value pairs. For example you want to represent cricket team names with their captain names. For this you can use dictionary**

In [1]:
captains = {
    'india': 'virat',
    'pakistan': 'sarfaraz',
    'sri lanka': 'dimuth',
}

In [5]:
type(captains)

dict

In [2]:
captains['india']

'virat'

In [3]:
captains['pakistan']

'sarfaraz'

In [4]:
captains.keys()

dict_keys(['india', 'pakistan', 'sri lanka'])

In [6]:
captains.values()

dict_values(['virat', 'sarfaraz', 'dimuth'])

**Dictionary is basically a hashmap data structure. It is also called unordered map or hashtable**

**Add new key value pair**

In [11]:
captains['england']='root'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'england': 'root'}

In [12]:
del captains['england']
captains

{'india': 'virat', 'pakistan': 'sarfaraz', 'sri lanka': 'dimuth'}

In [13]:
captains['england']='root'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'england': 'root'}

**Iterate through dictionary**

In [20]:
for team in captains:
    print(team)

india
pakistan
sri lanka
england

In [18]:
for team in captains:
    print(team,"==>",captains[team])

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
england ==> root

In [19]:
for team, captain in captains.items():
    print(team,"==>",captain)

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
england ==> root

**in operator and clear**

In [21]:
'india' in captains

True

In [22]:
'australia' in captains

False

In [23]:
captains.clear()
captains

{}

**Build dictionary on fly**

In [24]:
e={}
e['age']=35
e['name']='dhaval'
e['id']=123
e

{'age': 35, 'name': 'dhaval', 'id': 123}

**Tuples**

How do you represent point in 2D space

In [25]:
point=(4,10)
type(point)

tuple

Point in 3D space

In [26]:
point=(4,10, 20)
type(point)

tuple

In [27]:
point[0]

4

In [28]:
point[1]

10

**Tuple is immutable**

In [30]:
point[1]=67

TypeError: 'tuple' object does not support item assignment

**Tuple to return multiple values from a function**

In [33]:
def add_multiply(a,b):
    total = a+b
    m = a*b
    return total, m

In [34]:
s, m = add_multiply(4,5)

In [35]:
s

9

In [36]:
m

20