# <font color="purple"><h3 align="center">Pandas Concatenate Tutorial</h3></font>

## <font color='blue'>Basic Concatenation</font>

In [1]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  humidity  temperature
0    mumbai        80           32
1     delhi        60           45
2  banglore        78           30

In [2]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  humidity  temperature
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [3]:
df = pd.concat([india_weather, us_weather])
df

       city  humidity  temperature
0    mumbai        80           32
1     delhi        60           45
2  banglore        78           30
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

## <font color='blue'>Ignore Index</font>

In [4]:
df = pd.concat([india_weather, us_weather], ignore_index=True)
df

       city  humidity  temperature
0    mumbai        80           32
1     delhi        60           45
2  banglore        78           30
3  new york        68           21
4   chicago        65           14
5   orlando        75           35

## <font color='blue'>Concatenation And Keys</font>

In [26]:
df = pd.concat([india_weather, us_weather], keys=["india", "us"])
df

             city  humidity  temperature
india 0    mumbai        80           32
      1     delhi        60           45
      2  banglore        78           30
us    0  new york        68           21
      1   chicago        65           14
      2   orlando        75           35

In [27]:
df.loc["us"]

       city  humidity  temperature
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [28]:
df.loc["india"]

       city  humidity  temperature
0    mumbai        80           32
1     delhi        60           45
2  banglore        78           30

## <font color='blue'>Concatenation Using Index</font>

In [16]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
}, index=[0,1,2])
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [17]:
windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7,12],
}, index=[1,0])
windspeed_df

     city  windspeed
1   delhi          7
0  mumbai         12

In [24]:
df = pd.concat([temperature_df,windspeed_df],axis=1)
df

       city  temperature    city  windspeed
0    mumbai           32  mumbai       12.0
1     delhi           45   delhi        7.0
2  banglore           30     NaN        NaN

## <font color='blue'>Concatenate dataframe with series</font>

In [20]:
s = pd.Series(["Humid","Dry","Rain"], name="event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [23]:
df = pd.concat([temperature_df,s],axis=1)
df

       city  temperature  event
0    mumbai           32  Humid
1     delhi           45    Dry
2  banglore           30   Rain